body{
    font-family: sans-serif;
    /* background-color: black; */
}
div{
    background-color: beige;
    margin: auto auto;
    max-width: 500px;
}
h1{
    text-align: center;
}
ul{
    text-align: center;
    list-style: none;
}
li{
    margin-top: 20px;
}